$blueLgths: #F6F9FD;
$blueLight:#DBEAF7;
$blue:#1070CA;
$link:#4DA8FF;
$textMuted:#66788A;
$textDflt:#425A70;
$textDark:#234361;
$gitGreyLths:#A3A3A3;
$gitGreyLight: #808082;
$gitGrey:#464A4D;
$gitGreyDark:#212528;
$gitGreyDrkst: #1E1E1E;

