
@keyframes waving {
    0% {}
    30% {transform: rotate(15deg) scale(1.05);}
    40% {transform: rotate(-21deg);}
    50% {transform: rotate(21deg);}
    60% {transform: rotate(-21deg);}
    70% {transform: rotate(18deg);}
    80% {transform: rotate(-5deg) scale(1);}
    100% {}

}



.wave {
    animation: waving 3s ease-in-out infinite;
    transform-origin: center bottom;
    display:inline-block;
}