.intro {
  padding-left: 16px;
  padding-right: 16px;
  max-width: $tablet;
  margin: 0 auto;

  @media (min-width: $desktop) {
    max-width: 982px;
  }
  &__bubble {
    position: absolute;
  }
  &__greet {
    display: none;
    @media (min-width: $desktop) {
      display: block;
      background: $blue;
      position: relative;
      top: -105px;
      left: calc(50% + 90px);
      padding: 16px 19px;
      color: white;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      border-radius: 16px;
      white-space: nowrap;
      &:after {
        content: "";
        display: block;
        background: url(../assets/img/bubble_tail.svg);
        position: absolute;
        width: 17.42px;
        height: 22.66px;
        top: 100%;
        left: 32px;
      }
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    @media (min-width: $desktop) {
      max-width: 780px;
      &:before,
      &:after {
        content: "";
        display: block;
        width: 83px;
        height: 255px;
        position: absolute;
        top: 0;
      }
      &:before {
        right: 100%;
        background: url(../assets/img/brace_left.svg);
      }
      &:after {
        background: url(../assets/img/brace_right.svg);
        left: 100%;
      }
    }
  }
  &__heading {
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: $textDark;
    margin: 0 0 16px;
    @media (min-width: $desktop) {
      font-size: 32px;
      line-height: 40px;
      margin: 0 0 24px;
    }
  }
  &__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;
    @media (min-width: $desktop) {
      margin-bottom: 48px;
    }
  }
  &__link {
    font-weight: bold;
    color: $link;
    text-decoration: none;
    white-space: nowrap;
  }
  &__mailto {
    background: $link;
    padding: 4px 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    color: white;
    border-radius: 64px;
    text-decoration: none;
    margin-top: 48px;
    text-align: center;
    @media (min-width: $desktop) {
      margin-top: 68px;
    }
  }
  &__paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: $textDflt;
    margin: 0;
    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 40px;
    }
  }
  &__pic {
    border: 16px solid $blueLgths;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    box-sizing: unset;
    @media (min-width: $desktop) {
      width: 178px;
      height: 178px;
      border: 24px solid $blueLgths;
    }
  }
  &__special-text {
    color: $blue;
    white-space: nowrap;
  }
}
