@import "~normalize.css";
@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto+Mono&display=swap");
@import "intro.scss";
@import "myskills.scss";
@import "contact.scss";
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Nunito;
  font-style: normal;
}

.main {
  padding: 0 16px;
  max-width: 320px;
}

section {
  padding: 64px 0 88px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
