.myskills {
  background-color: $blue;

  &__tree {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
      max-width: 1184px;
      width: 100%;
      margin: 128px auto 0 auto;
      
    }
  }

  &__heading {
    font-family: Nunito;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: white;
    margin: 0;
    @media (min-width: $desktop) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &-branch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 64px;
    margin: 0 auto;
    max-width: 320px;

    &__heading {
      color: white;
      font-weight: bold;
      font-size: 24px;
      line-height: 44px;
    }
    &__icon {
      font-size: 64px;
      line-height: 72px;
    }
  }

  &-list {
    align-self: flex-start;
    color: $blueLight;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 0 0;
    &__first {
      list-style-image: url("../assets/img/liststyle.svg");
    }

    &__item {
      padding-left: 12px;
      margin: 0 0 16px;
    }

    &__second {
      list-style-image: url("../assets/img/liststyleblue.svg");
    }

    &__third {
      list-style-type: none;
      padding: 0;
      & li.myskills-list__item {
        padding-left: 0px;
        &:before {
          content: "";
          display: inline-flex;
          height: 2px;
          width: 2px;
          background-color: $blueLight;
          border-radius: 50%;
          margin-left: 28px;
          margin-right: 22px;
          vertical-align: super;
          align-items: center;
        }
      }
    }
  }
}
