.myskills {
  background-color: $blue;

  &__heading {
    font-family: Nunito;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: white;
    margin:0;
  }

  &-tree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top:64px;
    &__icon {
      font-size: 64px;
      line-height: 72px;
    }

    &__heading {
      color: white;
      font-weight: bold;
      font-size: 24px;
      line-height: 44px;
    }
  }

  &-list {
    align-self: flex-start;
    color: $blueLight;
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 0 0;
    &__item {
      padding-left: 12px;
      margin: 0 0 16px;
    }
    &__first {
      list-style-image: url("/src/assets/img/liststyle.svg");
    }
    &__second {
      list-style-image: url("/src/assets/img/liststyleblue.svg");
    }

    &__third {
      list-style-type: none;
      padding: 0;
      & li.myskills-list__item {
        padding-left:0px;
      &:before {
        content: "";
    display: inline-flex;
    height: 2px;
    width: 2px;
    background-color: #DBEAF7;
    border-radius: 50%;
    margin-left:28px;
    margin-right:22px;
    vertical-align: super;
    align-self: center;
    align-items: center;
    justify-content: center;
      }
    }
  }
}
}