.projects {
  padding-left: 16px;
  padding-right: 16px;
  &__content {
    padding: 24px 16px;
    @media (min-width: $desktop) {
      padding: 24px 48px;
    }
  }
  &__heading {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: $textDark;
    margin: 0;
    @media (min-width: $desktop) {
      font-size: 48px;
      line-height: 56px;
    }
  }
  &__link {
    color: $gitLink;
  }
  &__paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: $textDflt;
    text-align: center;
    margin: 32px 0 46px;
    max-width: 615px;
    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 40px;
      margin: 40px 0 128px;
      max-width:782px;
    }
  }
  &-grid {
    font-family: Roboto Mono;
    min-width: 288px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      max-width: $desktop;
    }
    @media (min-width: $desktop) {
      max-width: 1184px;
    }
    &__heading {
      &.projects-grid__text {
        margin-top: 24px;
      }
      & span {
        &:nth-child(2) {
          font-weight: bold;
          color: white;
        }
      }
    }
    &__item {
      border-radius: 16px;
      width: 100%;
      max-width: 520px;
      height: 324px;
      background-color: $gitGreyDark;
      margin-bottom: 24px;
      @media (min-width: $tablet) {
        margin: 0 auto;
        max-width: 580px;
      }
      &--mac-button {
        display: inline-flex;
        height: 8px;
        width: 8px;
        background: $gitGrey;
        border-radius: 50%;
        margin-right: 8px;
      }
      &--topbar {
        border-radius: 16px 16px 0 0;
        height: 40px;
        display: flex;
        align-items: center;
        background: $gitGreyDrkst;
        padding-left: 16px;
      }
    }
    &__text {
      display: grid;
      grid-template-columns: 102px 1fr;
      column-gap: 4px;
      font-weight: normal;
      font-size: 13px;
      line-height: 24px;
      margin: 0 0 8px;
      color: $gitGreyLghtst;
      &.projects-grid__gap {
        margin-bottom:24px;
      }
      & span:first-child {
        text-align: right;
        color: $gitGreyLight;
      }
    }
  }
}
